<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h5 class="font-italic">{{ user.nombre }}</h5>
      <p class="font-weight-normal">{{ user.email }}</p>
    </div>

    <!--
      <img src="../../../../assets/img/avatar profile.jpg">
    -->
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Mantenimientos</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard" (click)="sideBarClose()">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="iglesias" (click)="sideBarClose()">
    <mat-icon>home</mat-icon>
    Iglesias
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="personas" (click)="sideBarClose()">
    <mat-icon>family_restroom</mat-icon>
    Personas
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="usuarios" (click)="sideBarClose()">
    <mat-icon>people</mat-icon>
    Usuarios
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tesoreria</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="cajas" (click)="sideBarClose()">
    <mat-icon>attach_money</mat-icon>
    Cajas
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="tipo_movimiento" (click)="sideBarClose()">
    <mat-icon>more</mat-icon>
    Tipo Movimiento
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="movimiento_caja" (click)="sideBarClose()">
    <mat-icon>money</mat-icon>
    Movimientos de Caja
  </a>

</mat-nav-list>
