<form [formGroup]="tipoMovimientoForm" (submit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tipo de Movimiento</mat-card-title>
      <mat-card-subtitle>ID: {{_id.value}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="container-fluid">
        <div class="row">
          <mat-radio-group
            formControlName="signo">
            <mat-radio-button style="padding-right: 40px;" value="+">Ingreso</mat-radio-button>
            <mat-radio-button value="-">Egreso</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="row">
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Codigo" formControlName="codigo">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Nombre" formControlName="nombre">
          </mat-form-field>
        </div>
      </div>

      <mat-divider></mat-divider>

      <mat-selection-list #cajas formControlName="cajas"
      [compareWith]="compareItems">
        <mat-list-option *ngFor="let caja of List_cajas" [value]="caja">
          {{caja.nombre}}
        </mat-list-option>
      </mat-selection-list>

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button type="submit" mat-raised-button color="accent" [disabled]="!tipoMovimientoForm.valid">
        <mat-icon>save</mat-icon>
        Guardar
      </button>
    </mat-card-actions>
  </mat-card>

</form>
