<div class="button-row">
  <button mat-icon-button color="primary" (click)="nuevo()" title="Nuevo">
    <mat-icon>add_circle</mat-icon>
  </button>

  <button mat-icon-button color="primary" (click)="actualizar()" [disabled]="selected==null" title="Actualizar">
    <mat-icon>update</mat-icon>
  </button>

  <button mat-icon-button color="primary" (click)="consultar()" [disabled]="selected==null" title="Consultar">
    <mat-icon>search</mat-icon>
  </button>

  <button mat-icon-button color="warn" (click)="eliminar()" [disabled]="selected==null" title="Eliminar">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<hr>

<div class="table-responsive">
  <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" style="width: 100%;" responsive="true">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selectRow($event.checked, row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Codigo Column -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
    </ng-container>

    <!-- Signo Column -->
    <ng-container matColumnDef="signo">
      <th mat-header-cell *matHeaderCellDef> Signo </th>
      <td mat-cell *matCellDef="let element"> {{element.signo}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRow(!selection.isSelected(row), row)"></tr>
  </table>

</div>
