<form [formGroup]="movimientoCajaForm" (submit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Movimiento Caja</mat-card-title>
      <mat-card-subtitle>ID: {{_id.value}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="container-fluid">
        <div class="row">
          <div class="row">
            <mat-radio-group
            style="padding-left: 30px;"
            formControlName="signo">
                <mat-radio-button style="padding-right: 40px;" value="+">Ingreso</mat-radio-button>
                <mat-radio-button value="-">Egreso</mat-radio-button>
              </mat-radio-group>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4" style="padding-right: 50px;">
            <div class="row">
              <mat-form-field style="width: 100%;">
                <mat-label>Iglesia</mat-label>
                <mat-select formControlName="iglesia"
                [compareWith]="compareItems">
                  <mat-option *ngFor="let iglesia of iglesias" [value]="iglesia">
                    {{ iglesia.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field style="width: 100%;">
                <mat-label>Caja</mat-label>
                <mat-select formControlName="caja"
                [compareWith]="compareItems">
                  <mat-option *ngFor="let caja of cajas" [value]="caja">
                    {{ caja.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field>
                <mat-label>Tipo Movimiento</mat-label>
                <mat-select
                formControlName="tipo_movimiento"
                [compareWith]="compareItems">
                  <mat-option *ngFor="let tipo of tipoMovimientos" [value]="tipo">
                    {{ tipo.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-icon-button color="accent" (click)="openDialogTipoMovimientoCreate()" fxHide.xs>
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </div>

          <div class="col-sm-4" style="padding-right: 50px;">
            <div class="row">
              <mat-form-field color="accent">
                <mat-label>Fecha</mat-label>
                <input autocomplete="off" matInput [matDatepicker]="fecha" formControlName="fecha">
                <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                <mat-datepicker #fecha></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field>
                <input matInput type="text" placeholder="Referencia" formControlName="referencia">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field>
                <mat-label>Persona</mat-label>
                <mat-select
                formControlName="persona"
                [compareWith]="comparePersonas">
                  <mat-option [value]="null">Ninguno</mat-option>
                  <mat-option *ngFor="let persona of personas" [value]="persona">
                    {{ persona.nombres }}  {{ persona.apellidos}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-icon-button color="accent" (click)="openDialogPersonaCreate()" fxHide.xs>
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </div>

          <div class="col-sm-4" style="padding-right: 50px;">
            <div class="row">
              <mat-form-field>
                <input matInput type="number" placeholder="Valor" formControlName="valor" autocomplete="off">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button type="submit" mat-raised-button color="accent" [disabled]="!movimientoCajaForm.valid">
        <mat-icon>save</mat-icon>
        Grabar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
