<div class="button-row">
  <button mat-button routerLink="/home" routerLinkActive="active">Home</button>
  <button mat-button routerLink="/home/usuarios" routerLinkActive="active">Usuarios</button>
</div>

<hr>

<mat-card class="container-fluid">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img src="../../../../assets/img/avatar profile.jpg" width="50px" height="50px">
    </div>
    <mat-card-title style="text-align: center;">{{ user.nombre }}</mat-card-title>
    <mat-card-subtitle>ID: {{user._id}}</mat-card-subtitle>
  </mat-card-header>

  <img src="../../../../assets/img/avatar profile.jpg" width="250px" height="250px">

  <mat-card-content>

    <mat-list>
      <mat-list-item>
        <mat-label style="width: 100px;">Usuario: </mat-label>
        <mat-label> {{user.usuario}} </mat-label>
      </mat-list-item>

      <mat-list-item>
        <mat-label style="width: 100px;">Password: </mat-label>
        <mat-label> {{user.contrasena}} </mat-label>
      </mat-list-item>

      <mat-list-item>
        <mat-label style="width: 100px;">Rol: </mat-label>
        <mat-label> {{user.perfil}} </mat-label>
      </mat-list-item>

      <mat-list-item>
        <mat-label style="width: 100px;">Email: </mat-label>
        <mat-label> {{user.email}} </mat-label>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

</mat-card>
