<div class="container">
  <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img" class="profile-img-card" src="../../../assets/img/avatar profile.jpg" />
      <p id="profile-name" class="profile-name-card"></p>
      <form [formGroup]="usuarioForm" (ngSubmit)="login()">
          <span id="reauth-email" class="reauth-email"></span>

          <mat-form-field style="width: 100%;">
            <input matInput type="text" formControlName="usuario" placeholder="Usuario" autocomplete="off">
          </mat-form-field>

          <mat-form-field style="width: 100%;">
            <input matInput type="password" formControlName="contrasena" placeholder="Contraseña">
          </mat-form-field>

          <button type="submit" mat-raised-button color="primary" [disabled]="!usuarioForm.valid" style="width: 100%;">
            <mat-icon>lock</mat-icon>
            Ingresar
          </button>
      </form><!-- /form -->

      <a href="#" class="forgot-password">
          Olvidaste tu contraseña?
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->
